Repository TuuZzee/fe-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, yarn test:staged

chore: remove @stoplight/elements dependency and upgrade @types/node @types/react @types/react-dom react-redux-toastr to LTS versions, change NODE_ENV = dev to development to fix warning in console
  package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/envs/local.env
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/build/local.env
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/build/local.env
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/build/local.env
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write

build: bump node version usage from 16.17.1 to 18.18.2
  .github/workflows/codeChecker.yml
  .github/workflows/fe-build-push.yml
  .github/workflows/unitTestingChecker.yml
  README.md
  packages/storybook/.storybook/main.js
Due: prettier --write, yarn test:staged

build: bump commitizen related dependencies and add a hook to validate commit message
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write

chore: bump version for lint-staged package
  package.json
  yarn.lock
Due: prettier --write

chore: bump @testing-library/react, axios and styled-components to latest version
  package.json
  packages/storybook/package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/index.js
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/app-micro-fe/template/src/components/Template/index.js
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write, yarn test:staged

chore: update NextJS packages to LTS(v14.0.1), remove unecessary dependencies @next/font, next-seo
  package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/nextJs/pageApp.js
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/nextJs/nextConfig.js
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write, yarn test:staged

chore: upgrade NextJs to 14.0.2, bump babel packages to LTS
  package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write

chore: remove "POUET" and "test" mentions from views, comment the collectCoverage for jest
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/index.js
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
  packages/websites/app-micro-fe/template/src/components/Template/index.js
  packages/websites/shared/jest/baseConfig.js
Due: prettier --write, yarn test:staged

build: bump node version to v20.9.0 (from 18.8.2)
  .github/workflows/codeChecker.yml
  .github/workflows/fe-build-push.yml
  .github/workflows/unitTestingChecker.yml
  README.md
Due: prettier --write

build: bump node version to v20.9.0 (from 18.8.2) (#15)
  .github/workflows/codeChecker.yml
  .github/workflows/fe-build-push.yml
  .github/workflows/unitTestingChecker.yml
  README.md
Due: prettier --write

feat: storybook improvements, move the stories into the components
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  packages/storybook/src/components/Icons/icons.stories.jsx
  packages/storybook/src/components/Icons/icons.test.js
  packages/storybook/src/components/atoms/Button/button.stories.jsx
  packages/storybook/src/components/atoms/Button/button.test.js
  packages/storybook/src/components/atoms/Input/input.stories.jsx
  packages/storybook/src/components/atoms/Input/input.test.js
  packages/storybook/src/components/atoms/Input/storybookExamples.js
  packages/storybook/src/components/atoms/LoaderIcon/loader.stories.jsx
  packages/storybook/src/components/atoms/Typography/text.stories.jsx
  packages/storybook/src/components/atoms/Typography/title.stories.jsx
  packages/storybook/src/components/atoms/Typography/typography.test.js
  packages/storybook/src/components/molecules/Card/CardText.js
  packages/storybook/src/components/molecules/Card/card.stories.jsx
  packages/storybook/src/components/molecules/Card/card.test.js
  packages/storybook/src/components/molecules/Modal/confirm.test.js
  packages/storybook/src/components/molecules/Modal/modal.stories.jsx
  packages/storybook/stories/titlePath.js
Due: prettier --write, yarn test:staged

build: remove storybook/manager-webpack5 dependency
  package.json
  packages/storybook/package.json
  yarn.lock
Due: prettier --write

chore: yarn.lock file changes with fresh install
  yarn.lock
Due: none

Feat/Fix - Storybook improvements (#16)
  package.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  packages/storybook/src/components/Icons/icons.stories.jsx
  packages/storybook/src/components/Icons/icons.test.js
  packages/storybook/src/components/atoms/Button/button.stories.jsx
  packages/storybook/src/components/atoms/Button/button.test.js
  packages/storybook/src/components/atoms/Input/input.stories.jsx
  packages/storybook/src/components/atoms/Input/input.test.js
  packages/storybook/src/components/atoms/Input/storybookExamples.js
  packages/storybook/src/components/atoms/LoaderIcon/loader.stories.jsx
  packages/storybook/src/components/atoms/Typography/text.stories.jsx
  packages/storybook/src/components/atoms/Typography/title.stories.jsx
  packages/storybook/src/components/atoms/Typography/typography.test.js
  packages/storybook/src/components/molecules/Card/CardText.js
  packages/storybook/src/components/molecules/Card/card.stories.jsx
  packages/storybook/src/components/molecules/Card/card.test.js
  packages/storybook/src/components/molecules/Modal/confirm.test.js
  packages/storybook/src/components/molecules/Modal/modal.stories.jsx
  packages/storybook/stories/titlePath.js
  yarn.lock
Due: prettier --write, yarn test:staged

chore: remove wrongly added .storybook and stories folder at the root
  .storybook/main.ts
  .storybook/preview.ts
  packages/websites/shared/jest/fileTransformer.js
  stories/Button.stories.ts
  stories/Button.tsx
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
Due: prettier --write, yarn test:staged

chore: remove wrongly added .storybook and stories folder at the root (#17)
  .storybook/main.ts
  .storybook/preview.ts
  packages/websites/shared/jest/fileTransformer.js
  stories/Button.stories.ts
  stories/Button.tsx
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
Due: prettier --write, yarn test:staged

build: add missing variable cache-dependency-path
  .github/workflows/codeChecker.yml
Due: none

build: add missing variable cache-dependency-path in unitTestingChecker workflow
  .github/workflows/unitTestingChecker.yml
Due: none

build: add missing variable cache-dependency-path in fe-build-push workflow
  .github/workflows/fe-build-push.yml
Due: none

Build/ci: add missing variable cache-dependency-path (#18)
  .github/workflows/codeChecker.yml
  .github/workflows/fe-build-push.yml
  .github/workflows/unitTestingChecker.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,json,md}
  stylelint: any of: ./**/styled.js
  yarn test:staged: any of: ./packages/**/*.{js,jsx}
