Repository TuuZzee/fe-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, yarn test:staged

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,json,md}": "prettier --write",
  "./**/styled.js": "stylelint",
  "./packages/**/*.{js,jsx}": "yarn test:staged"
}

build: move the currently disabled actions to a disabled_workflows folder
  .github/disabled_workflows/clPageBuildPushStorybook.yml
  .github/disabled_workflows/clPageBuildPushWebTemplate.yaml
  .github/disabled_workflows/clWorkerDeployAdminGoogleGroups.yml
  .github/disabled_workflows/clWorkerDeployWebRouting.yml
  .github/disabled_workflows/fe-build-push.yaml
  .github/disabled_workflows/slackDeployNotify.yml
  .github/pull_request_template.md
  packages/integration-tests/README.md
  packages/websites/engineering-portal/readme.md
Due: prettier --write

app-micro-fe: fix Posts and Todo action dispatch, add a TopNavBar, add template page in @namespace/web-app-micro-fe-container and leverage @namespace/web-app-micro-fe-template micro-frontend
  .vscode/fe-monorepo-code-workspace
  packages/websites/app-micro-fe/container/pages/template.js
  packages/websites/app-micro-fe/container/src/components/PostsSection/PostItem.js
  packages/websites/app-micro-fe/container/src/components/PostsSection/Posts.js
  packages/websites/app-micro-fe/container/src/components/PostsSection/styled.js
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
  packages/websites/app-micro-fe/container/src/utils/urls.js
  packages/websites/app-micro-fe/template/pages/index.js
  packages/websites/app-micro-fe/template/src/components/Template/TodoItem.js
  packages/websites/app-micro-fe/template/src/components/Template/Todos.js
  packages/websites/app-micro-fe/template/src/components/Template/index.js
  packages/websites/app-micro-fe/template/src/components/Template/styled.js
  packages/websites/app-micro-fe/template/src/locale/template/ko.js
Due: prettier --write, stylelint, yarn test:staged

web-app-micro-fe: refactor some of the logic, improve example of locale usage and leverage sharedTodo/Todo and Posts Redux store handling on the container app
  packages/websites/app-micro-fe/container/pages/index.js
  packages/websites/app-micro-fe/container/pages/template.js
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/index.js
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/styled.js
  packages/websites/app-micro-fe/container/src/components/PostsSection/PostItem.js
  packages/websites/app-micro-fe/container/src/components/PostsSection/Posts.js
  packages/websites/app-micro-fe/container/src/components/PostsSection/index.js
  packages/websites/app-micro-fe/container/src/locale/common/en.js
  packages/websites/app-micro-fe/container/src/locale/common/index.js
  packages/websites/app-micro-fe/container/src/locale/common/ko.js
  packages/websites/app-micro-fe/container/src/locale/errorMessages/en.js
  packages/websites/app-micro-fe/container/src/locale/errorMessages/ko.js
  packages/websites/app-micro-fe/container/src/locale/posts/en.js
  packages/websites/app-micro-fe/container/src/locale/posts/index.js
  packages/websites/app-micro-fe/container/src/locale/posts/ko.js
  packages/websites/app-micro-fe/shared/locale/common/en.js
  packages/websites/app-micro-fe/shared/locale/common/ko.js
  packages/websites/app-micro-fe/template/src/components/Template/TodoItem.js
  packages/websites/app-micro-fe/template/src/components/Template/Todos.js
  packages/websites/app-micro-fe/template/src/components/Template/index.js
  packages/websites/app-micro-fe/template/src/locale/template/en.js
  packages/websites/app-micro-fe/template/src/locale/template/ko.js
Due: prettier --write, stylelint, yarn test:staged

chore: some cleanup in the @namespace/app-web-micro-fe-shared
  packages/websites/app-micro-fe/shared/assets/manifest.json
  packages/websites/app-micro-fe/shared/jest.config.js
  packages/websites/app-micro-fe/shared/utils/urls.js
Due: prettier --write, yarn test:staged

fix typo on the main Readme file title
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

build: upgrade some packages dependencies (eslint babel-core etc...) to LTS, add the clPageBuildPushWebAppMicroFe github actions workflow
  .github/disabled_workflows/fe-build-push.yaml
  .github/workflows/clPageBuildPushWebAppMicroFe.yaml
  package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  yarn.lock
Due: prettier --write

build: add secrets to the clPageBuildPushWebAppMicroFe action file and upgrade some packages dependencies
  .github/workflows/clPageBuildPushWebAppMicroFe.yaml
  package.json
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/styled.js
  packages/websites/engineering-portal/package.json
  yarn.lock
Due: prettier --write, stylelint, yarn test:staged

Feat/build/cloudflare pages CI/CD + update some dependencies (#3)
  .github/disabled_workflows/fe-build-push.yaml
  .github/workflows/clPageBuildPushWebAppMicroFe.yaml
  package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/styled.js
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  yarn.lock
Due: prettier --write, stylelint, yarn test:staged

build: shorten name of the clPageBuildPushWebAppMicroFe.yml github action workflow file
  .github/workflows/clPageBuildPushWebAppMicroFe.yaml
Due: none

build: use local fe-build-push parent action for clPageBuildPushWebAppMicroFe workflow and change file extensions from yaml to yml
  .github/disabled_workflows/clPageBuildPushWebTemplate.yml
  .github/disabled_workflows/fe-build-push.yaml
  .github/workflows/clPageBuildPushWebAppMicroFe.yml
  .github/workflows/fe-build-push.yml
Due: none

update main branch (#4)
  .github/disabled_workflows/clPageBuildPushWebTemplate.yml
  .github/disabled_workflows/fe-build-push.yaml
  .github/workflows/clPageBuildPushWebAppMicroFe.yml
  .github/workflows/fe-build-push.yml
  README.md
  package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/styled.js
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  yarn.lock
Due: prettier --write, stylelint, yarn test:staged

style: fix colors of buttons, loaderIcon, card border etc
  packages/storybook/src/components/atoms/Button/styled.js
  packages/storybook/src/components/atoms/Input/styled.js
  packages/storybook/src/components/atoms/LoaderIcon/styled.js
  packages/storybook/src/components/molecules/Card/styled.js
  packages/websites/app-micro-fe/shared/styles/styledComponents/globalStyled.js
  packages/websites/shared/styles/theme.js
Due: prettier --write, stylelint, yarn test:staged

feat: add lang dropdown, link with contextProvider
  packages/websites/app-micro-fe/container/pages/index.js
  packages/websites/app-micro-fe/container/pages/template.js
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
  packages/websites/shared/nextJs/SharedApp.js
Due: prettier --write, yarn test:staged

build: add deployment flows and documentation for it for the storybook, web-template and web-app-micro-fe-container
  .github/workflows/clPageBuildPushStorybook.yml
  .github/workflows/clPageBuildPushWebTemplate.yml
  packages/storybook/README.md
  packages/websites/app-micro-fe/container/readme.md
  packages/websites/app-micro-fe/template/build/deploy/package.json
  packages/websites/app-micro-fe/template/build/deploy/yarn.lock
  packages/websites/app-micro-fe/template/build/local.env
  packages/websites/app-micro-fe/template/build/prod.env
  packages/websites/app-micro-fe/template/build/stg.env
  packages/websites/app-micro-fe/template/public/favicon.ico
  packages/websites/app-micro-fe/template/public/manifest.json
  packages/websites/app-micro-fe/template/readme.md
  packages/websites/template/package.json
  packages/websites/template/readme.md
Due: prettier --write

build: add deployment flows and documentation for it for the storybook, web-template and web-app-micro-fe-container (#6)
  .github/workflows/clPageBuildPushStorybook.yml
  .github/workflows/clPageBuildPushWebTemplate.yml
  packages/storybook/README.md
  packages/websites/app-micro-fe/container/readme.md
  packages/websites/app-micro-fe/template/build/deploy/package.json
  packages/websites/app-micro-fe/template/build/deploy/yarn.lock
  packages/websites/app-micro-fe/template/build/local.env
  packages/websites/app-micro-fe/template/build/prod.env
  packages/websites/app-micro-fe/template/build/stg.env
  packages/websites/app-micro-fe/template/public/favicon.ico
  packages/websites/app-micro-fe/template/public/manifest.json
  packages/websites/app-micro-fe/template/readme.md
  packages/websites/template/package.json
  packages/websites/template/readme.md
Due: prettier --write

build: fix name for clPageBuild* worflow
  .github/workflows/clPageBuildPushStorybook.yml
  .github/workflows/clPageBuildPushWebAppMicroFe.yml
  .github/workflows/clPageBuildPushWebTemplate.yml
Due: none

fix: css error
  packages/websites/app-micro-fe/shared/styles/styledComponents/globalStyled.js
Due: prettier --write, yarn test:staged

style: fix colors of buttons, loaderIcon, card border etc (#5)
  packages/storybook/src/components/atoms/Button/styled.js
  packages/storybook/src/components/atoms/Input/styled.js
  packages/storybook/src/components/atoms/LoaderIcon/styled.js
  packages/storybook/src/components/molecules/Card/styled.js
  packages/websites/shared/styles/theme.js
Due: prettier --write, stylelint, yarn test:staged

feat: language change, dark/light mode
  packages/storybook/package.json
  packages/storybook/src/components/atoms/Input/styled.js
  packages/websites/app-micro-fe/container/pages/index.js
  packages/websites/app-micro-fe/container/pages/template.js
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/index.js
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/styled.js
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
  packages/websites/app-micro-fe/container/src/styles/darkTheme.js
  packages/websites/app-micro-fe/container/src/styles/lightTheme.js
  packages/websites/app-micro-fe/shared/styles/darkTheme.js
  packages/websites/app-micro-fe/shared/styles/lightTheme.js
  packages/websites/app-micro-fe/shared/styles/styledComponents/globalStyled.js
  packages/websites/app-micro-fe/template/src/components/Template/index.js
  packages/websites/app-micro-fe/template/src/components/Template/styled.js
  packages/websites/app-micro-fe/template/src/styles/darkTheme.js
  packages/websites/app-micro-fe/template/src/styles/lightTheme.js
  packages/websites/engineering-portal/src/styles/darkTheme.ts
  packages/websites/engineering-portal/src/styles/lightTheme.ts
  packages/websites/shared/styles/sharedGlobalStyles.js
  packages/websites/shared/styles/theme.js
  packages/websites/template/src/components/Template/Todo.js
  packages/websites/template/src/components/Template/styled.js
  packages/websites/template/src/styles/darkTheme.js
  packages/websites/template/src/styles/lightTheme.js
  yarn.lock
Due: prettier --write, stylelint, yarn test:staged

refactor: delete dark,light themes, import values, delete dependancy
  packages/storybook/package.json
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
  packages/websites/app-micro-fe/container/src/styles/darkTheme.js
  packages/websites/app-micro-fe/container/src/styles/lightTheme.js
  packages/websites/app-micro-fe/shared/styles/darkTheme.js
  packages/websites/app-micro-fe/template/pages/_app.js
  packages/websites/app-micro-fe/template/src/styles/darkTheme.js
  packages/websites/app-micro-fe/template/src/styles/lightTheme.js
  packages/websites/template/src/styles/darkTheme.js
  yarn.lock
Due: prettier --write, yarn test:staged

revert: back color
  packages/websites/template/src/styles/darkTheme.js
Due: prettier --write, yarn test:staged

app-micro-fe/container: move the ui and locale context handling to the TopNavBar to avoid passing them as props
  packages/websites/app-micro-fe/container/pages/index.js
  packages/websites/app-micro-fe/container/pages/template.js
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
Due: prettier --write, yarn test:staged

Feat - Add localization and Light/Dark mode use to demo (#7)
  packages/storybook/package.json
  packages/storybook/src/components/atoms/Input/styled.js
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/index.js
  packages/websites/app-micro-fe/container/src/components/FormItemListSection/styled.js
  packages/websites/app-micro-fe/container/src/components/shared/TopNavBar.js
  packages/websites/app-micro-fe/container/src/styles/darkTheme.js
  packages/websites/app-micro-fe/container/src/styles/lightTheme.js
  packages/websites/app-micro-fe/shared/styles/darkTheme.js
  packages/websites/app-micro-fe/shared/styles/lightTheme.js
  packages/websites/app-micro-fe/shared/styles/styledComponents/globalStyled.js
  packages/websites/app-micro-fe/template/pages/_app.js
  packages/websites/app-micro-fe/template/src/components/Template/index.js
  packages/websites/app-micro-fe/template/src/components/Template/styled.js
  packages/websites/app-micro-fe/template/src/styles/darkTheme.js
  packages/websites/app-micro-fe/template/src/styles/lightTheme.js
  packages/websites/engineering-portal/src/styles/darkTheme.ts
  packages/websites/engineering-portal/src/styles/lightTheme.ts
  packages/websites/shared/nextJs/SharedApp.js
  packages/websites/shared/styles/sharedGlobalStyles.js
  packages/websites/shared/styles/theme.js
  packages/websites/template/src/components/Template/Todo.js
  packages/websites/template/src/components/Template/styled.js
  packages/websites/template/src/styles/darkTheme.js
  packages/websites/template/src/styles/lightTheme.js
Due: prettier --write, stylelint, yarn test:staged

tests: add jest setup for @namespace/web-template and coverage for the todosTemplate module
  jest.config.js
  packages/storybook/jest.config.js
  packages/websites/shared/jest/tapReporter.js
  packages/websites/template/jest.config.js
  packages/websites/template/jest.setup.js
  packages/websites/template/package.json
  packages/websites/template/src/redux/modules/todosTemplate.js
  packages/websites/template/src/redux/modules/todosTemplate.test.js
Due: prettier --write, yarn test:staged

tests: add jest setup for remaining websites namespaces and coverage for the redux modules
  jest.config.js
  packages/websites/app-micro-fe/container/jest.config.js
  packages/websites/app-micro-fe/container/jest.setup.js
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/container/src/redux/modules/posts.test.js
  packages/websites/app-micro-fe/shared/jest.config.js
  packages/websites/app-micro-fe/shared/jest.setup.js
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/shared/redux/modules/index.js
  packages/websites/app-micro-fe/shared/redux/modules/todosShared.js
  packages/websites/app-micro-fe/shared/redux/modules/todosShared.test.js
  packages/websites/app-micro-fe/template/jest.config.js
  packages/websites/app-micro-fe/template/jest.setup.js
  packages/websites/app-micro-fe/template/package.json
  packages/websites/app-micro-fe/template/src/redux/modules/todosTemplate.test.js
Due: prettier --write, yarn test:staged

Jest setup and unit test coverage for websites namespaces (#8)
  jest.config.js
  packages/storybook/jest.config.js
  packages/websites/app-micro-fe/container/jest.config.js
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/container/src/redux/modules/posts.test.js
  packages/websites/app-micro-fe/shared/jest.config.js
  packages/websites/app-micro-fe/shared/jest.setup.js
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/shared/redux/modules/index.js
  packages/websites/app-micro-fe/shared/redux/modules/todosShared.js
  packages/websites/app-micro-fe/shared/redux/modules/todosShared.test.js
  packages/websites/app-micro-fe/template/jest.setup.js
  packages/websites/app-micro-fe/template/package.json
  packages/websites/app-micro-fe/template/src/redux/modules/todosTemplate.test.js
  packages/websites/shared/jest/tapReporter.js
  packages/websites/template/jest.config.js
  packages/websites/template/jest.setup.js
  packages/websites/template/package.json
  packages/websites/template/src/redux/modules/todosTemplate.js
  packages/websites/template/src/redux/modules/todosTemplate.test.js
Due: prettier --write, yarn test:staged

Packages upgrades for: jest/babel + some minor on @headlessui/react, @heroicons/react, RTK, eventEmitter, commitizen, qs, react-markdown, tailwind, tzdata and uuid
  package.json
  packages/storybook/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write

Packages upgrades for: eslint packages and most plugins
  package.json
  packages/websites/engineering-portal/pages/index.tsx
  yarn.lock
Due: prettier --write

Packages upgrades for: @stoplight/elements, @tailwindcss/forms, @tailwindcss/line-clamp, axios, axios-retry, date-fns, formik, framer-notions, luxon, react-redux, sass, sequelize, validator and yup
  packages/storybook/package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write

retore the --parallel in the scripts package, looks like still needed dispite what lerna doc says
  package.json
Due: prettier --write

chore: upgrade styled-component to LTS and babel packages to LTS, fix breaking changes in styled components in the storybook
  package.json
  packages/storybook/package.json
  packages/storybook/src/components/atoms/Button/index.js
  packages/storybook/src/components/atoms/Button/styled.js
  packages/storybook/src/components/atoms/Input/index.js
  packages/storybook/src/components/atoms/Input/styled.js
  packages/storybook/src/components/atoms/LoaderIcon/index.js
  packages/storybook/src/components/atoms/LoaderIcon/styled.js
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write, stylelint, yarn test:staged

chore: upgrade various packages to LTS version
  package.json
  packages/storybook/package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write

chore: upgrade tailwindcss reduxjs/toolkit related packages
  package.json
  packages/storybook/package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  packages/websites/template/package.json
  yarn.lock
Due: prettier --write

chore: remove react-draggable and regenerator-runtime since unused
  package.json
  packages/websites/app-micro-fe/container/package.json
  yarn.lock
Due: prettier --write

chore: upgrade html-react-parser, immer, @testing-library* and jest-styled-components dependencies to LTS versions
  package.json
  packages/storybook/package.json
  packages/websites/app-micro-fe/container/package.json
  packages/websites/app-micro-fe/shared/package.json
  packages/websites/app-micro-fe/template/package.json
  packages/websites/engineering-portal/package.json
  packages/websites/shared/package.json
  yarn.lock
Due: prettier --write

buid/chore: update eslint and prettier related dependencies to LTS
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade stylelint dependenciesdisable some rules conflicting with prettier/eslint
  .stylelintignore
  .stylelintrc
  package.json
  packages/storybook/src/components/molecules/Modal/styled.js
  packages/websites/shared/styles/sharedGlobalStyles.js
  yarn.lock
Due: prettier --write, stylelint, yarn test:staged
